.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-home {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 6.5rem;
    flex-direction: column;
    gap: 2rem;


    h1 {
        color: --text-color;
        font-size: 3rem;
        max-width: 40rem;

        .my-name {
            color: #4197ff;
            font-weight: 600;
            font-size: 3.5rem;
        }
    }

    p {
        max-width: 35rem;
        font-size: 1.25rem;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 2rem;

        .ctt-btn {
            background-color: var(--color1);
            color: white;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #1e6edc;
            }
        }
        .cv-btn {
            background-color: var(--color2);
            color: white;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #1e6edc;
            }
        }
    }
}
