.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    height: 70vh;
}

.text-home {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 6.5rem;
    flex-direction: column;
    gap: 2rem;

    h1 {
        color: --text-color;
        font-size: 3rem;
        max-width: 40rem;

        line-height: 1.5;
        min-height: 80px;

        .my-name {
            color: var(--color1);
            font-weight: 600;
            font-size: 3.5rem;
            display: inline-block;
        }
    }

    .cursor {
        animation: blink 1s infinite;
        color: var(--text-color);
        margin-left: 2px;
        font-weight: 300;
        font-size: 3.5rem;
    }

    @keyframes blink {
        0%,
        50% {
            opacity: 1;
        }
        51%,
        100% {
            opacity: 0;
        }
    }

    p {
        max-width: 35rem;
        font-size: 1.25rem;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 2rem;

        .ctt-btn {
            background-color: var(--color1);
            color: white;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #1e6edc;
            }
        }
        .cv-btn {
            background-color: var(--color2);
            color: white;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #1e6edc;
            }
        }
    }
}
