.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    height: 70vh;
    min-width: 70%;
    padding: 5%;

    .home-img-wrapper {
        img {
            display: block;
            // cursor: pointer;
            transition: transform 1.3s ease;
            width: 25rem;
            height: auto;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.text-home {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    margin-top: 6.5rem;
    flex-direction: column;
    gap: 2rem;

    h1 {
        color: --text-color;
        font-size: 3rem;
        max-width: 40rem;

        line-height: 1.5;
        min-height: 80px;

        .my-name {
            color: var(--color1);
            font-weight: 600;
            font-size: 3.5rem;
            display: inline-block;
        }
    }

    .cursor {
        animation: blink 1s infinite;
        color: var(--text-color);
        margin-left: 2px;
        font-weight: 300;
        font-size: 3.5rem;
    }

    @keyframes blink {
        0%,
        50% {
            opacity: 1;
        }
        51%,
        100% {
            opacity: 0;
        }
    }

    p {
        max-width: 35rem;
        font-size: 1.25rem;
    }

    .btn {
        display: flex;
        align-items: center;
        gap: 2rem;

        .ctt-btn {
            background-color: var(--color1);
            color: white;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #1e6edc;
            }
        }
        .cv-btn {
            background-color: var(--color2);
            color: white;
            padding: 0.75rem 1.5rem;
            border-radius: 0.5rem;
            font-size: 1.25rem;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #1e6edc;
            }
        }
    }

    .social-icons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        a {
            color: var(--text-color);
            font-size: 2rem;
            transition: color 0.3s ease;

            &:hover {
                color: var(--color1);
            }
        }
    }
}

//Responsive
//Tablet
@media (max-width: 1024px) {
    .home-container {
        flex-direction: column;
        gap: 1em;
        height: 100vh;
        max-width: 75rem;

        .home-img-wrapper {
            img {
                width: 70%;
                height: auto;
            }
        }
    }

    .text-home {
        margin-left: 0;
        margin-top: 1rem;

        h1 {
            font-size: 2rem;

            .my-name {
                font-size: 2.5rem;
            }
        }

        p {
            font-size: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .text-home {
        max-width: 90%;
        
        h1 {
            font-size: 1.25rem;

            .my-name {
                font-size: 1.75rem;
            }
        }

        p {
            font-size: 0.75rem;
        }
    }

    .btn {
        .ctt-btn {
            padding: 0.5rem 1rem;
            font-size: 0.75rem;
            font-weight: 500;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #1e6edc;
            }
        }
        .cv-btn {
            padding: 0.2rem 0.5rem;
            font-size: 0.5rem;
        }
    }
}
